<ul class="messages" [ngBusy]="commentListSubscription">
  <li *ngFor="let comment of comments">
    <article class="media event">
      <div class=" pull-right" style="width: 25px">
        <i (click)="delete(comment.id)" class="fa fa-remove" style="cursor:pointer;margin-bottom:22px"></i>
        <i (click)="edit(comment.id)" class="fa fa-edit" style="cursor:pointer"></i>
      </div>
      <a class="pull-right date">
        <p class="month">{{comment.created_at | date:'MMM'}}</p>
        <p class="day">{{comment.created_at | date:'d'}}</p>
      </a>
      <div class="media-body">

        <p style="font-size: 16px;">{{comment.text}}</p>
        <br>
        <a style="padding-right:10px;font-size:14px" class="pull-right title" ><i class="fa fa-user"></i>&nbsp;{{comment.user.username}}</a>
      </div>
    </article>
  </li>

</ul>

<div *ngIf="!comments.length" class="col-md-11 col-sm-11 col-xs-12" style="color:gray;margin:15px;border: 1px solid gray;min-height: 150px;line-height: 150px;text-align: center;border: 2px dashed #f69c55">
    <span style="font-size: 25px; display: inline-block;vertical-align: middle;line-height: normal"> No Comments Yet!</span>
</div>



<a class="btn btn-success" (click)="addComment()"><i class="fa fa-plus m-right-xs"></i> Comment</a>
