<div class="">

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>User Profile <i class="fa fa-angle-right"></i>  {{user?.username}} </h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="assets/images/default-user-image.jpg" alt="Avatar" title="Change the avatar">
              </div>
            </div>
            <h4>{{user?.getName()}}</h4>

            <ul class="list-unstyled user_data">
              <li><i class="fa fa-map-marker user-profile-icon"></i>  {{user?.getAddress()}}
              </li>

              <li>
                <i class="fa fa-briefcase user-profile-icon"></i> {{user?.designation}}
              </li>

              <li class="m-top-xs">
                <i class="fa fa-envelope"></i>
                {{user?.email}}
              </li>
            </ul>

            <a class="btn btn-success" (click)="edit()"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
            <br>

            <!-- start skills -->
            <h4>Roles</h4>
            <ul class="list-unstyled user_data">
              <li>
                <p>Administrator</p>
              </li>

            </ul>
            <!-- end of skills -->
          </div>



          <div class="col-md-9 col-sm-9 col-xs-12">
            <tabset>
              <tab heading="Comments">
                <div class="tab-content">
                  <ul class="messages">
                    <li>
                      <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                      </div>
                    </li>
                    <li>
                      <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                      </div>
                    </li>

                  </ul>
                </div>
              </tab>

              <tab>
                <ng-template tabHeading>
                  <i class="glyphicon glyphicon-bell"></i> Alert!
                </ng-template>
                I've got an HTML heading, and a select callback. Pretty cool!
              </tab>
            </tabset>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
