<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title">
        <img src="assets/images/logo.png" alt="logo" >
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="assets/images/default-user-image.jpg" alt="profile pic" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{authService.getUser().first_name}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">

          <li [routerLinkActive]="['active']"><a routerLink="/dashboard" routerLinkActive="active">
            <i class="fa fa-home"></i> Dashboard</a>
          </li>

          <li [routerLinkActive]="['active']"><a routerLink="/users"><i class="fa fa-user">
            </i> Users </a>
          </li>

          <li [routerLinkActive]="['active']"><a routerLink="/customers"><i class="fa fa-users">
            </i> Customers </a>
          </li>

          <li [routerLinkActive]="['active']"><a routerLink="/reports"><i class="fa fa-bar-chart">
            </i> Reports </a>
          </li>

          <li [routerLinkActive]="['active']"><a routerLink="/import"><i class="fa fa-file-excel-o">
            </i> Import </a>
          </li>

          <li [routerLinkActive]="['active']"><a routerLink="/posts"><i class="fa fa-file-text-o">
            </i> Posts </a>
          </li>

        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        &nbsp;
        <!--<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        &nbsp;
        <!--<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>-->
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>