<div bsModal #modal="bs-modal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"  [config]="{show: false, backdrop:'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #modalplaceholder></div>
        </div>
    </div>
</div>
