.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.modal-dialog{
    float: right;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
}

.modal-content{
    border:none;
}