.x_panel{
height: 100%;
margin-bottom: 0;
border:none;
}

.form-action-group{
    position: fixed;
    bottom:23px;
}



.form-group.required .form-control-feedback:after {
    content: "*";
    color: red;
}
