
<div class="col-md-6 col-xs-12" style="position:relative; height: 100vh; float:right; padding-right:0;overflow-y:auto;background:white">
  <div class="x_panel"  [ngBusy]="[formSaveSubscripton, customerSubscription]">
    <div class="x_title">
      <h2>Edit Customer <i class="fa fa-angle-right"></i>  {{customer.code}} </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="padding-bottom:100px">
      <br>
      <form class="form-horizontal form-label-left input_mask">

        <!--<div class="form-group" [ngClass]="{'has-error':formErrors?.text[0]}">-->
           <!--<textarea class="form-control" style="width:100% !important;font-size: 16px" rows="4" cols="100" name="text" [(ngModel)]="comment.text" placeholder="Comment...">-->
            <!--</textarea>-->
          <!--<span class="help-block" *ngIf="formErrors?.text[0]">{{formErrors?.text[0]}}</span>-->
        <!--</div>-->

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.name}">
          <input class="form-control has-feedback-left" name="name" [(ngModel)]="customer.name" placeholder="Name" type="text">
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.name">{{formErrors?.name[0]}}</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.phone}">
          <input class="form-control has-feedback-left" name="phone" [(ngModel)]="customer.phone" placeholder="Phone" type="text">
          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.phone">{{formErrors?.phone[0]}}</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="fax" [(ngModel)]="customer.fax" placeholder="Fax" type="text">
          <span class="fa fa-fax form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.email}">
          <input class="form-control has-feedback-left" name="email" [(ngModel)]="customer.email" placeholder="Email" type="text">
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.email">{{formErrors?.email[0]}}</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.address}">
            <input class="form-control has-feedback-left" name="address" [(ngModel)]="customer.address" placeholder="Address" type="text">
            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.address">{{formErrors?.address[0]}}</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.city}">
            <input class="form-control has-feedback-left" name="city" [(ngModel)]="customer.city" placeholder="City" type="text">
            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
            <span class="help-block" *ngIf="formErrors?.city">{{formErrors?.city[0]}}</span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback required" [ngClass]="{'has-error':formErrors?.country}">
          <input class="form-control has-feedback-left" name="country" [(ngModel)]="customer.country" placeholder="Country" type="text">
          <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.country">{{formErrors?.country[0]}}</span>
        </div>

        <label>Contact Person</label>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="contact_person_name" [(ngModel)]="customer.contact_person_name" placeholder="Name" type="text">
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="contact_person_phone" [(ngModel)]="customer.contact_person_phone" placeholder="Phone" type="text">
          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" [ngClass]="{'has-error':formErrors?.contact_person_email}">
          <input class="form-control has-feedback-left" name="contact_person_email" [(ngModel)]="customer.contact_person_email" placeholder="Email" type="text">
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          <span class="help-block" *ngIf="formErrors?.contact_person_email">{{formErrors?.contact_person_email[0]}}</span>
        </div>


      </form>

    </div>

    <div class="form-action-group">
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-default" (click)="formCancel()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="formSave()">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>