<div class="col-md-12 col-xs-12" style="height: 100vh">
  <div class="x_panel" >
    <div class="x_title">
      <h2>Add Post</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form class="form-horizontal form-label-left input_mask">

        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="title" [(ngModel)]="post.title.en" placeholder="Title" type="text">
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="slug" [(ngModel)]="post.slug" placeholder="Slug" type="text">
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
          <textarea class="form-control" rows="4" cols="100" placeholder="Excerpt" [(ngModel)]="post.excerpt.en" name="excerpt">
          </textarea>
        </div>

        <div>
          <ckeditor name="body"
                  [(ngModel)]="post.body.en"
                  [config]="{uiColor: '#FFFFFF'}"
                  debounce="500">
          </ckeditor>
        </div>



        <div class="form-action-group">
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" class="btn btn-default" (click)="formCancel()">Cancel</button>
              <button type="submit" class="btn btn-success" (click)="save()" >Save</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>