<div class="container page-title">
    <div class="row col-md-12 col-sm-12 col-xs-12">
        <h3>Customers</h3>
    </div>

    <div class="row col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-md-4 col-sm-11 col-xs-11 form-group top_search">
                <div class="input-group" style="/*! margin-bottom: 0px; */">
                    <input class="form-control" placeholder="Search for..." name="search" [(ngModel)]="options.search" type="text">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="getCustomers()">Go!</button>
                    </span>
                </div>
            </div>

            <div class="col-md-1 col-sm-1 col-xs-1" style="line-height: 2.471">
                <i style="cursor:pointer" (click)="clearFilter()" *ngIf="options.search" class="fa fa-remove"></i>
            </div>
    </div>

</div>
<div class="clear"></div>
<ngx-datatable class="material"
               (activate)="handleRowClick($event)"
               [columnMode]="'force'"
               [rows]="customers"
               [columns]="columns"
               [footerHeight]="50"
               [headerHeight]="30"
               [rowHeight]="35"
               [loadingIndicator]="loadingIndicator"
               [externalPaging]="true"
               [offset]="page.pageNumber"
               [limit]="page.size"
               [count]="page.totalElements"
               (page)="setPage($event)"
               >
</ngx-datatable>

<ng-template #addressCell let-row="row" let-value="value" let-i="index">
    {{row.getAddress()}}
</ng-template>
