<div class="col-md-6 col-xs-12" style="position:relative;height: 100vh; float:right; padding-right:0;overflow-y:auto;background:white">
  <div class="x_panel" [ngBusy]="[commentSubscription,formSaveSubscription]" >
    <div class="x_title">
      <h2 *ngIf="id">Edit Comment</h2>
      <h2 *ngIf="!id">Add Comment</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content" style="padding-bottom: 100px">
      <br>
      <form class="form-horizontal form-label-left input_mask">
        <div class="form-group" [ngClass]="{'has-error':formErrors?.text[0]}">
           <textarea class="form-control" style="width:100% !important;font-size: 16px" rows="4" cols="100" name="text" [(ngModel)]="comment.text" placeholder="Comment...">
            </textarea>
          <span class="help-block" *ngIf="formErrors?.text[0]">{{formErrors?.text[0]}}</span>
        </div>
      </form>

    </div>

    <div class="form-action-group">
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <button type="button" class="btn btn-default" (click)="formCancel()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="formSave()">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>