<div class="">

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Customer Profile <i class="fa fa-angle-right"></i>  {{customer?.name}} </h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="col-md-3 col-sm-3 col-xs-12 profile_left" style="position:relative">
            <div [ngBusy]="customerSubscription" >
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="assets/images/default-user-image.jpg" alt="Avatar" title="Change the avatar">
                  </div>
                </div>

                <ul class="list-unstyled user_data">
                  <li>
                    <i class="fa fa-map-marker user-profile-icon"></i>  {{customer?.getAddress()}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-phone"></i>
                    {{customer?.phone}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-fax"></i>
                    {{customer?.fax}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-envelope"></i>
                    {{customer?.email}}
                  </li>
                </ul>

                <br>
                <h2>Contact Person</h2>
                <ul class="list-unstyled user_data">

                  <li class="m-top-xs">
                    <i class="fa fa-user"></i>
                    {{customer?.contact_person_name}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-phone"></i>
                    {{customer?.contact_person_phone}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-envelope"></i>
                    {{customer?.contact_person_email}}
                  </li>
                </ul>

                <a class="btn btn-success" (click)="edit()"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
            </div>
          </div>


  <!--section comment -->
          <div class="col-md-9 col-sm-9 col-xs-12"  >
            <tabset >
              <tab >
                <ng-template tabHeading>
                    <i class="fa fa-comments"></i> Comments
                    <!--<span class="badge bg-green" style="position: absolute;top: -3px;right: -10px;font-size: 10px;font-weight: 400;">10</span>-->
                </ng-template>
                <div class="tab-content">
                  <app-customer-comment-list #commentList [customerId]="id"></app-customer-comment-list>
                </div>
              </tab>

              <!--<tab>-->
                <!--<ng-template tabHeading>-->
                  <!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
                <!--</ng-template>-->
                <!--I've got an HTML heading, and a select callback. Pretty cool!-->
              <!--</tab>-->
            </tabset>
          </div>
<!-- eof comment section -->

        </div>
      </div>
    </div>
  </div>
</div>
