<div class="col-md-6 col-xs-12" style="height: 100vh">
</div>

<div class="col-md-6 col-xs-12" style="height: 100vh">
  <div class="x_panel" >
    <div class="x_title">
      <h2>Edit User Profile <i class="fa fa-angle-right"></i>  {{user?.username}} </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form class="form-horizontal form-label-left input_mask">

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="first_name" [(ngModel)]="user.first_name" placeholder="First Name" type="text">
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input class="form-control" name="last_name" [(ngModel)]="user.last_name" placeholder="Last Name" type="text">
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="email" [(ngModel)]="user.email" placeholder="Email" type="text">
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <input class="form-control has-feedback-left" name="phone" [(ngModel)]="user.phone" placeholder="Phone" type="text">
          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <select class="form-control has-feedback-left">
            <option>Choose Designation</option>
            <option>Chief Technical Officer</option>
            <option>Account Manager</option>
            <option>Branch Manager</option>
          </select>
          <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <select class="form-control has-feedback-left" name="country" [(ngModel)]="user.country_code">
            <option class="has-feedback-left" value="">Choose country</option>
            <option class="has-feedback-left" *ngFor="let country of generalService.getCountries()" [value]="country.code">{{country.name}}</option>
          </select>
          <span class="fa fa-flag form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" name="address" [(ngModel)]="user.address" placeholder="address" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" name="city" [(ngModel)]="user.city" placeholder="city" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" name="state" [(ngModel)]="user.state" placeholder="state" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">zip</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input class="form-control" name="zip" [(ngModel)]="user.zip" placeholder="zip" type="text">
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
          <div class="col-md-9 col-sm-9 col-xs-12 ">
            <select class="form-control">
              <option>Administrator</option>
              <option>Clerk</option>
              <option>Viewer</option>
            </select>
          </div>
        </div>

        <div class="form-action-group">
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" class="btn btn-default" (click)="formCancel()">Cancel</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>