<div class="container page-title">
    <div class="row col-md-12 col-sm-12 col-xs-12">
        <h3>Users</h3>
    </div>
</div>
<div class="clear"></div>
<ngx-datatable class="material"
               (activate)="handleRowClick($event)"
               [columnMode]="'force'"
               [rows]="users"
               [columns]="columns"
               [footerHeight]="50"
               [headerHeight]="30"
               [rowHeight]="35"
               [loadingIndicator]="loadingIndicator"
               [externalPaging]="true"
               [offset]="page.pageNumber"
               [limit]="page.size"
               [count]="page.totalElements"
               (page)="setPage($event)"
               >
</ngx-datatable>

<ng-template #userNameCell let-row="row" let-value="value" let-i="index">
    {{row.first_name}} {{row.last_name}}
</ng-template>

<ng-template #userRolesCell let-row="row" let-value="value" let-i="index">
    <span *ngFor="let role of row.roles">{{role.name}}</span>
</ng-template>