/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import "../node_modules/ng2-toastr/bundles/ng2-toastr.min.css";


/****CSS Loader***********/
.cssload-parent {
    position: relative; }

.cssload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999; }

.cssload-container {
    position: relative;
    top: 50%; }

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #cccccc;
    border-left-color: black;
    border-radius: 699px;
    -o-border-radius: 699px;
    -ms-border-radius: 699px;
    -webkit-border-radius: 699px;
    -moz-border-radius: 699px; }

.cssload-whirlpool {
    z-index: 99999999;
    margin: -17px 0 0 -17px;
    height: 35px;
    width: 35px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::before {
    content: "";
    margin: -16px 0 0 -16px;
    height: 31px;
    width: 31px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::after {
    content: "";
    margin: -20px 0 0 -20px;
    height: 39px;
    width: 39px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite; }

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg); } }

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg); } }

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg); } }

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg); } }

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg); } }

/**** css loader end ******/

body{
    color: #434649 !important;
}
