<i class="fa fa-plus" (click)="addNew()">add</i>
<ngx-datatable class="material"
               (activate)="handleRowClick($event)"
               [columnMode]="'force'"
               [rows]="posts"
               [columns]="columns"
               [footerHeight]="50"
               [headerHeight]="30"
               [rowHeight]="35"
               [loadingIndicator]="loadingIndicator"
               [externalPaging]="true"
               [offset]="page.pageNumber"
               [limit]="page.size"
               [count]="page.totalElements"
               (page)="setPage($event)"
        >
</ngx-datatable>
